body {
  background: blanchedalmond;
  margin: auto;
}

#page-header h1 {
  color: saddlebrown;
}

section.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;


  width: 70%;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  background-color: saddlebrown;
  background-size: cover;
  padding: 20px;
}

div.photo img {
  border: 5px solid white;
  border-radius: 10px;
}

div.photo {
  margin: 25px;
}
